<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.virtualmgr.cordova.ble" version="1.3.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>VirtualManagerBLE</name>
  <js-module name="VirtualManagerBLE" src="www/VirtualManagerBLE.js">
    <clobbers target="cordova.plugins.VirtualManagerBLE" />
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="VirtualManagerBLE">
        <param name="ios-package" value="VirtualManagerBLE" />
      </feature>
    </config-file>
    <source-file src="src/ios/VirtualManagerBLE.m" />
  </platform>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="VirtualManagerBLE">
        <param name="android-package" value="VirtualManagerBLE.VirtualManagerBLE" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.BLUETOOTH" />
  		<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  		<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    </config-file>
    <source-file src="src/android/VirtualManagerBLE.java" target-dir="src/VirtualManagerBLE" />
  </platform>
</plugin>
